.container {
    background-color: burlywood;
    padding: 15px;
    width: 100%;
}

.leader, .eng, .intern {
    padding: 10px;
    margin: 10px;
}

p {
    margin-left: 20px;
}

.fas {
    padding-right: 10px;
}
